.tooltip-body {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 3px;
  background-color: $core-prominent;
  color: $core-main-inverted;
  opacity: 0.9;
}

.no-pointer {
  pointer-events: none;
}

.chart__axis {
  path {
    stroke: $core-soft;
  }
  pointer-events: all;
}

.chart__axis-label {
  fill: $core-prominent;
}

.chart-bar:hover {
  cursor: pointer;
}

.x-tick {
  font-size: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, Icons16 !important;
  pointer-events: all;
  &--no-data {
    fill: $core-soft;
  }
}

.x-tick-container {
  pointer-events: all;
}
.chart-title {
  font-size: 1.5em;
  fill: $core-main;
}
.chart-subtitle {
  font-size: 1.25em;
  fill: $core-prominent;
  font-weight: 100;
  text-rendering: geometricPrecision;
}
